<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52355168990-dkolvnj8ifdkg4lf8dht5itkqb07nmvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52355168990-dkolvnj8ifdkg4lf8dht5itkqb07nmvc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52355168990-md3hrqpusp2cds5m0h3fsvvipn8ilcff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_xuQLjlqFrmoBI1UUy8Rg-mIT3MEFmWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52355168990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scale.scalefluttertest</string>
	<key>PROJECT_ID</key>
	<string>scale3c-flutter-test-d3904</string>
	<key>STORAGE_BUCKET</key>
	<string>scale3c-flutter-test-d3904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52355168990:ios:02a28a327d8dc5df93204f</string>
</dict>
</plist>